.pomodoro-button {
  background: #41e1ba;
  cursor: pointer;
  border: none;
  padding: 10px 25px;
  color: #000;
  border-radius: 20px;
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
  min-width: 100px;
  font-size: 15px;
}

.working .pomodoro-button {
  background: #EF5D50;
  color: #fff;
}

.pomodoro-button:hover {
  opacity: .8;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.pomodoro-button:active {
  background: #fff;
}
